:root{
    --icons: white;

}
body.lightMode .launcherIcon{
    /* --icons: black; */
    filter: invert(0);
}
body.lightMode #settingsIcon{
    filter: invert(0);
}

.launcherIcon {
    vertical-align: middle;
    margin-left: 5%;
    filter: invert();
    fill: var(--icons);
    transform: scale(1.2);
}

#settingsIcon {
    filter: invert();
    margin: 0;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    padding: 10px;

}
